# In case you need ssh tunneling
sshtunnel==0.1.5
# Docs generation.
pdoc3==0.8.3
# Tests.
pytest==5.4.1
# Test coverage.
pytest-cov==2.8.1

# Ticker metadata downloading
lxml==4.5.2 # Requires libxml2-dev libxslt-dev always installed and python3-lxml zlib1g-dev when pip installing

# Profiling and visualization
snakeviz==2.1.0